#settingsContainer {
  display: flex;
  flex: -1;
  width: 80%;
  //   background-color: darkred;
}

#sliderContainer {
  flex: 1;
  padding-bottom: 2em;
}

#mainSettingsSection {
  flex: 1;
}

#infoContainer {
  flex: 1;
}
