@import "../pages/global.styles.scss";

#settingsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
  position: absolute;
  bottom: 0px;
  z-index: 100;
  height: 180px;
  margin-bottom: 2em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;

  // Neumorphism
  border-radius: 34px;
  background: var(--color-bg);
  box-shadow: 10px 10px 20px #c1c2c5, -10px -10px 20px #ffffff;
}

#mainSettingsSection {
  flex: 1;
  padding-right: 1.5em;
  padding-top: 0.25em;
}

#infoContainer {
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--color-text);
  padding-left: 1.5em;

  @media screen and (max-width: $responsive-width) {
    padding-left: 0em;
    justify-content: center;
    text-align: center;
  }
}

#infoViewHeader {
  width: 95%;
  border-bottom: 1px solid;
  border-bottom-color: #ccd2da;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

#infoViewContent {
  display: flex;
  width: 100%;

  @media screen and (max-width: $responsive-width) {
    display: inline;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
  }
}

h1 {
  margin-bottom: 0.2em;
}

p {
  margin-bottom: 0em;
}
