@import "../pages/global.styles.scss";

#nextButton {
  right: 3em;
}

#previousButton {
  left: 3em;
}

.nextPrevButton {
  border-style: hidden;
  color: #5f646a;
  position: absolute;
  bottom: 6em;
  z-index: 100;

  // Neumorphic
  border-radius: 50%;
  background: linear-gradient(145deg, #fbfdff, #d4d4d8);
  box-shadow: 5px 5px 10px #c8c9cc, -5px -5px 10px #ffffff;

  @media screen and (max-width: $responsive-width-small) {
    bottom: 50%;
  }
}
